In [99]:
import pandas as pd
import datetime
from datetime import datetime

from functools import reduce

In [110]:
master = pd.read_csv('lahman_data/People.csv')
batters = pd.read_csv('lahman_data/Batting.csv')
pitchers = pd.read_csv('lahman_data/Pitching.csv')

df_list = [master, batters]

pitchers

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47623,zamorda01,2019,1,NYN,NL,0,1,17,0,0,...,1.0,0,1.0,0,41.0,3,5,0.0,1.0,0.0
47624,zeuchtj01,2019,1,TOR,AL,1,2,5,3,0,...,0.0,2,0.0,0,99.0,0,13,0.0,0.0,1.0
47625,zimmejo02,2019,1,DET,AL,1,13,23,23,0,...,2.0,3,6.0,0,504.0,0,89,3.0,4.0,5.0
47626,zimmeky01,2019,1,KCA,AL,0,1,15,0,0,...,0.0,2,0.0,0,102.0,3,22,0.0,0.0,1.0
47627,zobribe01,2019,1,CHN,NL,0,0,1,0,0,...,0.0,0,0.0,0,5.0,1,0,0.0,0.0,0.0

In [118]:
def marcelBattingSeason(yr):
    # yr = year being projected, input as int
    yr = str(yr) 
    yr1 = str(int(yr) - 1)
    yr2 = str(int(yr) - 2)
    yr3 = str(int(yr) - 3)

In [119]:
marcelBattingSeason(2019)

In [198]:
cols = ['AB', 'H', '2B', '3B', 'HR', 'SO', 'BB', 'SF', 'HBP', 'AVG', 'SLG', 'OBP', 'OPS', 'wOBA']

testing_df = pd.DataFrame()

for x in cols:
    testing_df[x] = x

In [220]:
testing_df

for col in testing_df:
    if col in test_df: 
        testing_df[col] = test_df[col]
    else:
        print(f'{col} is NOT in test_df')
    
for index, row in testing_df.iterrows():
    thing = row.AB
    if thing == 0:
        row['SLG'] = 0
        row['AVG'] = 0
        slg = 0
    else:
        avg = float(row['H'])/float(row['AB'])
        row['AVG'] = round(avg, 3)
        slg = float(row['H']+row['2B']+(2*row['3B'])+(3*row['HR']))/float(row['AB'])
        row['SLG'] = round(slg, 3)
    if (row['AB']+row['BB']+row['SF']+row['HBP']) == 0:
        row['OBP'] = 0
        row['OPS'] = 0
        row['wOBA'] = 0
    else:
        pa = float(row['AB']+row['BB']+row['SF']+row['HBP'])
        obp = float(row['H']+row['BB']+row['HBP'])/pa
        row['OBP'] = round(obp, 3)
        sing = int(row['H']) - int(row['HR']) - int(row['3B']) - int(row['2B'])
        num = (.72*int(row['BB'])) + (.75*int(row['HBP'])) + (.9*sing) + (1.24*int(row['2B'])) + (1.56*int(row['3B'])) + (1.95*int(row['HR']))
        den = int(row['BB']) + int(row['AB']) + int(row['HBP'])
        woba = num/den
        row['wOBA'] = round(woba, 3)
        
testing_df

AVG is NOT in test_df
SLG is NOT in test_df
OBP is NOT in test_df
OPS is NOT in test_df
wOBA is NOT in test_df

        AB    H  2B  3B  HR     SO  BB   SF   HBP  AVG  SLG  OBP  OPS wOBA
63183    1    0   0   0   0    1.0   0  0.0   0.0  NaN  NaN  NaN  NaN  NaN
63184    0    0   0   0   0    0.0   0  0.0   0.0  NaN  NaN  NaN  NaN  NaN
63185  613  178  34   3  30  140.0  39  1.0  15.0  NaN  NaN  NaN  NaN  NaN
63186    0    0   0   0   0    0.0   0  0.0   0.0  NaN  NaN  NaN  NaN  NaN
63187  186   40   8   1   6   38.0  14  3.0   1.0  NaN  NaN  NaN  NaN  NaN
...    ...  ...  ..  ..  ..    ...  ..  ...   ...  ...  ...  ...  ...  ...
70744    2    0   0   0   0    2.0   0  0.0   0.0  NaN  NaN  NaN  NaN  NaN
70745    0    0   0   0   0    0.0   0  0.0   0.0  NaN  NaN  NaN  NaN  NaN
70746  171   44   9   0   6   39.0  17  2.0   0.0  NaN  NaN  NaN  NaN  NaN
70747  150   39   5   0   1   24.0  23  2.0   1.0  NaN  NaN  NaN  NaN  NaN
70748  266   44  10   1   9   98.0  20  0.0   3.0  NaN  NaN  NaN  NaN  NaN

[7566 rows x 14 columns]

In [210]:
testing_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7566 entries, 63183 to 70748
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AB      7566 non-null   int64
 1   H       7566 non-null   int64
 2   2B      7566 non-null   int64
 3   3B      7566 non-null   int64
 4   HR      7566 non-null   int64
 5   SO      7566 non-null   float64
 6   BB      7566 non-null   int64
 7   SF      7566 non-null   float64
 8   HBP     7566 non-null   float64
 9   AVG     0 non-null      object
 10  SLG     0 non-null      object
 11  OBP     0 non-null      object
 12  OPS     0 non-null      object
 13  wOBA    0 non-null      object
dtypes: float64(3), int64(6), object(5)
memory usage: 886.6+ KB

In [200]:
test_df

        AB    H  2B  3B  HR     SO  BB   SF   HBP
63183    1    0   0   0   0    1.0   0  0.0   0.0
63184    0    0   0   0   0    0.0   0  0.0   0.0
63185  613  178  34   3  30  140.0  39  1.0  15.0
63186    0    0   0   0   0    0.0   0  0.0   0.0
63187  186   40   8   1   6   38.0  14  3.0   1.0
...    ...  ...  ..  ..  ..    ...  ..  ...   ...
70744    2    0   0   0   0    2.0   0  0.0   0.0
70745    0    0   0   0   0    0.0   0  0.0   0.0
70746  171   44   9   0   6   39.0  17  2.0   0.0
70747  150   39   5   0   1   24.0  23  2.0   1.0
70748  266   44  10   1   9   98.0  20  0.0   3.0

[7566 rows x 9 columns]

In [124]:
yr = str(2019)
yr1 = str(int(yr) -1)
yr2 = str(int(yr) -2)
yr3 = str(int(yr) -3)

print(yr, yr1, yr2, yr3)

2019 2018 2017 2016

In [162]:
new_df

cols = ['AB', 'H', '2B', '3B', 'HR', 'SO', 'BB', 'SF', 'HBP']

print(cols)

test_df = new_df[cols]

['AB', 'H', '2B', '3B', 'HR', 'SO', 'BB', 'SF', 'HBP']

In [187]:
test_df = new_df.loc[new_df.yearID >=2015]
test_df = test_df[cols]

for index, row in test_df.iterrows():
    if row.AB == 0:
        row['SLG'] = 0
        row['AVG'] = 0
        slg = 0
    else:
        avg = float(row['H'])/float(row['AB'])
        row['AVG'] = round(avg, 3)
        slg = float(row['H']+row['2B']+(2*row['3B'])+(3*row['HR']))/float(row['AB'])
        row['SLG'] = round(slg, 3)
    if (row['AB']+row['BB']+row['SF']+row['HBP']) == 0:
        row['OBP'] = 0
        row['OPS'] = 0
        row['wOBA'] = 0
    else:
        pa = float(row['AB']+row['BB']+row['SF']+row['HBP'])
        obp = float(row['H']+row['BB']+row['HBP'])/pa
        row['OBP'] = round(obp, 3)
        sing = int(row['H']) - int(row['HR']) - int(row['3B']) - int(row['2B'])
        num = (.72*int(row['BB'])) + (.75*int(row['HBP'])) + (.9*sing) + (1.24*int(row['2B'])) + (1.56*int(row['3B'])) + (1.95*int(row['HR']))
        den = int(row['BB']) + int(row['AB']) + int(row['HBP'])
        woba = num/den
        row['wOBA'] = round(woba, 3)
        
test_df['SLG'] = []

KeyError: 'SLG'

In [186]:
test_df['SLG'] = (for index, row in test_df.iterrows():
    if row.AB == 0:
        row['SLG'] = 0
        row['AVG'] = 0
        slg = 0
    else:
        avg = float(row['H'])/float(row['AB'])
        row['AVG'] = round(avg, 3)
        slg = float(row['H']+row['2B']+(2*row['3B'])+(3*row['HR']))/float(row['AB'])
        row['SLG'] = round(slg, 3))

SyntaxError: invalid syntax (<ipython-input-186-da9c8383ca53>, line 1)

ValueError: Length of values does not match length of index

In [125]:
yearPitchers = {}

for p in pitchers:
    pitchID = p[0]
    if p[1] == yr1:
        yearPitchers[pitchID] = int(p[12])
    else:   pass



leagueAverage = {}

for b in batters:
    batID = b[0]
    if b[1] == yr1:  pass
    else:   continue
    abString = b[7]
    if abString == '':  continue
    else:   batAb = int(abString)
    if batID in yearPitchers:
        if yearPitchers[batID] > batAb: continue
        else:   pass
    else:   pass
    if batID in projectBatters: pass
    else:   projectBatters.append(batID)
    for stat in batHeaders:
        col = batHeaders[stat]
        try:    playerStat = int(b[col])
        except: continue
        else:   pass
        if stat in leagueAverage:
            leagueAverage[stat] += playerStat
        else:
            leagueAverage[stat] = playerStat

IndexError: string index out of range

In [106]:
makeBatTable(batters.playerID[0])

TypeError: 'str' object does not support item assignment

In [30]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['playerID'],
                                            how='outer'), df_list)

In [37]:
df_2016 = df_merged.loc[df_merged.yearID == 2016]
df_2017 = df_merged.loc[df_merged.yearID == 2017]
df_2018 = df_merged.loc[df_merged.yearID == 2018]
df_2019 = df_merged.loc[df_merged.yearID == 2019]

In [61]:
datetime.date.today()

datetime.date(2021, 1, 12)

In [67]:
df_merged.columns

cols = ['playerID', 'birthYear', 'birthMonth', 'birthDay', 'nameFirst', 'nameLast', 'yearID']

testYear = df_merged[cols].birthYear[0]
testMonth = df_merged[cols].birthMonth[0]
testDay = df_merged[cols].birthDay[0]

In [72]:
def calculate_age(bornYear, bornMonth, bornDay):
    today = date.today()
    return today.year - bornYear.year - ((today.month, today.day) < (bornMonth.month, bornDay.day))

In [75]:
calculate_age(testYear, testMonth, testDay)

AttributeError: 'numpy.float64' object has no attribute 'year'

ValueError: time data '1981' does not match format '%yy' (match)